<mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              The Boeing Company
            </mat-panel-title>
            <mat-panel-description class="right-aligned-header">
                May 2019 - August 2019
            </mat-panel-description>
          </mat-expansion-panel-header>
            <h5>Software Developer Intern</h5>
            <ul>
                <li>Developed an Angular web app for internal visibility of airplane part tracking, estimated to save $10 million for the company</li>
                <li>Created a repository of Angular components to be used by developers for approximately 200 future web app redesign projects</li>
                <li>Collaborated with developers on ways to bring Blockchain to Boeing, such as additive manufacturing and smart contracts</li>
            </ul>
        </mat-expansion-panel>

        <mat-expansion-panel >
          <mat-expansion-panel-header>
            <mat-panel-title>
              Telekom Laboratories
            </mat-panel-title>
            <mat-panel-description class="right-aligned-header">
              June 2018 - August 2018
            </mat-panel-description>
          </mat-expansion-panel-header>
            <h5>Machine Learning Research Intern</h5>
            <ul>
                <li>Developed a Machine Learning project focusing on cybersecurity of Internet of Things with a team of 4 people</li>
                <li>Parsed big data, employed training and testing classifiers, and generated information labels for over 800,000 data points</li>
                <li>Used Python Machine Learning packages such as Pandas and Scikit-learn to employ K-Nearest-Neighbors algorithms</li>
            </ul>
        </mat-expansion-panel>

        <mat-expansion-panel >
            <mat-expansion-panel-header>
                <mat-panel-title>
                Techpoint Xtern Bootcamp
                </mat-panel-title>
                <mat-panel-description class="right-aligned-header">
                May 2018
                </mat-panel-description>
            </mat-expansion-panel-header>
                <h5>Student</h5>
                <ul>
                    <li>Gained proficiency in web technologies including React, JavaScript, HTML, and CSS through daily assignments and projects</li>
                    <li>Created a note-taking website with Google and GitHub user verification and data storage on Firebase</li>
                </ul>
        </mat-expansion-panel>

        <mat-expansion-panel >
            <mat-expansion-panel-header>
                <mat-panel-title>
                Purdue Statistics
                </mat-panel-title>
                <mat-panel-description class="right-aligned-header">
                January 2019 - Present
                </mat-panel-description>
            </mat-expansion-panel-header>
                <h5>Teaching Assistant</h5>
                <ul>
                    <li>Assist with educating and evaluating 70 students in the introductory statistics course</li>
                    <li>Grade and give weekly feedback on student homework assignments and exams</li>
                </ul>
        </mat-expansion-panel>

        <mat-expansion-panel >
            <mat-expansion-panel-header>
                <mat-panel-title>
                Purdue Computer Science
                </mat-panel-title>
                <mat-panel-description class="right-aligned-header">
                August 2019 - Present
                </mat-panel-description>
            </mat-expansion-panel-header>
                <h5>Teaching Assistant</h5>
                <ul>
                    <li>Lead weekly lab sections for 30 students with Java programming assignments through instruction and consistent guidance</li>
                    <li>Hold office hours and answer online forum questions to support students in completing their projects</li>
                </ul>
        </mat-expansion-panel>

        <mat-expansion-panel >
            <mat-expansion-panel-header >
                <mat-panel-title>
                Purdue Department of Admissions
                </mat-panel-title>
                <mat-panel-description class="right-aligned-header">
                May 2018 - Present
                </mat-panel-description>
            </mat-expansion-panel-header>
                <h5>Tour Guide</h5>
                <ul>
                    <li>Host weekly tours, presentations, and informational sessions for prospective Computer Science students and parents</li>
                    <li>Serve as a resource for information about the Purdue Computer Science experience through personal office hours</li>
                </ul>
        </mat-expansion-panel>
        
</mat-accordion>
