.content1 {
    width: 50%;
    text-align: right;
    font-family: Poppins, sans-serif;
    font-size: 15px;
}

.content2 {
    width: 50%;
    text-align: left !important;
    font-family: Poppins, sans-serif;
    font-size: 15px;
}

img {
    width: 50%;
    height: auto;
}
