.content1 {
    width: 50%;
    text-align: right;
}

.image1 {
    width: 50%;
    text-align: left;
}

.content2 {
    width: 50%;
    text-align: left;
}

.image2 {
    width: 50%;
    text-align: left;
}

