<div class="main-content">
        Hi! I'm Sasha Kipnis.
        <p class="homepage">
        Welcome to my personal website made by me, from scratch. Click on the tabs above to get to know me. Access my resume, explore my passions, and learn my goals. 
        </p>

        <div class=button-section>
            <a href="https://github.com/alexandrakipnis" target="_blank">
                <fa-icon [icon]="['fab', 'github']"></fa-icon>
            </a>
            <a href="https://www.linkedin.com/in/sasha-alexandra-kipnis/" target="_blank">
                <fa-icon [icon]="['fab', 'linkedin']"></fa-icon>
            </a>
            <a href="https://www.facebook.com/sasha.kipnis.92" target="_blank">
                <fa-icon [icon]="['fab', 'facebook']"></fa-icon>
            </a>
            <a href="https://instagram.com/sashkip" target="_blank">
                <fa-icon [icon]="['fab', 'instagram']"></fa-icon>
            </a>
            <a href="https://twitter.com/_sashkip" target="_blank">
                <fa-icon [icon]="['fab', 'twitter']"></fa-icon>
            </a>
        </div>  
</div>
