.main-content {
    text-align: center;
    font-family: Poppins, sans-serif;
    position: fixed; /* or absolute */
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.title {
    font-size: 40px;
}

fa-icon {
    font-size: 40px;
    -webkit-transition: color 0.25s;
    -moz-transition: color 0.25s;
    -ms-transition: color 0.25s;
    -o-transition: color 0.25s;
    transition: color 0.25s;
    margin: 10px;
    color: #512DA8;
}

fa-icon:hover {
    font-size: 39.5px;
    color: rgb(212, 212, 212);
    transition-delay: 1ms;
}

fa-icon:visited {
    color: #512DA8;
}
