<mat-accordion class="example-headers-align">
        <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <p style="font-weight: 500">EDUCATION</p>
            </mat-panel-title>
            <mat-panel-description>
                <br>
              <mat-icon>school</mat-icon>
            </mat-panel-description>
          </mat-expansion-panel-header>
      
          <div class="educationcontent">
              <p class="title">Purdue University, May 2021</p>
              <div class="progress">
                  Bachelor of Science in Computer Science with concentration in Machine Learning<br>
                  Minor in Statistics, Entrepreneurship Certificate<br>
                  Dean's List: Fall 2017, Spring 2018, Fall 2018<br>
                  Cummulative GPA: 3.46/4.00<br>
              </div>
          </div>
          <mat-action-row>
            <button mat-button color="primary" (click)="nextStep()">Next</button>
          </mat-action-row>
        </mat-expansion-panel>
      
        <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
                <p style="font-weight: 500">SKILLS</p>
            </mat-panel-title>
            <mat-panel-description>
              <br>
              <mat-icon>code</mat-icon>
            </mat-panel-description>
          </mat-expansion-panel-header>
    
          <div class="skillscontent">
              <p class="title">Programming</p>
                <div class="progress">
                    Python <mat-progress-bar mode="determinate" value="70"></mat-progress-bar><br>
                    Java <mat-progress-bar mode="determinate" value="70"></mat-progress-bar><br>
                    C <mat-progress-bar mode="determinate" value="70"></mat-progress-bar><br>
                    R <mat-progress-bar mode="determinate" value="80"></mat-progress-bar><br>
                    JavaScript <mat-progress-bar mode="determinate" value="70"></mat-progress-bar><br>
                    HTML/CSS <mat-progress-bar mode="determinate" value="95"></mat-progress-bar><br>
                    Angular <mat-progress-bar mode="determinate" value="70"></mat-progress-bar><br>
                    React <mat-progress-bar mode="determinate" value="50"></mat-progress-bar><br>
                </div>
              <p class="title">Spoken Languages</p>
                <div class="progress">
                    Russian <mat-progress-bar mode="determinate" value="85"></mat-progress-bar><br>
                    Spanish <mat-progress-bar mode="determinate" value="65"></mat-progress-bar><br>
                </div>
          </div>
      
          <mat-action-row>
            <button mat-button color="warn" (click)="prevStep()">Previous</button>
            <button mat-button color="primary" (click)="nextStep()">Next</button>
          </mat-action-row>
        </mat-expansion-panel>

        <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" hideToggle>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <p style="font-weight: 500">EXPERIENCE</p>
                  </mat-panel-title>
                  <mat-panel-description>
                    <br>
                    <mat-icon>work</mat-icon>
                  </mat-panel-description>
                </mat-expansion-panel-header>
          
                <div class="experiencecontent">
                    <app-experience></app-experience>
                </div>
            
                <mat-action-row>
                  <button mat-button color="warn" (click)="prevStep()">Previous</button>
                  <button mat-button color="primary" (click)="nextStep()">Next</button>
                </mat-action-row>
              </mat-expansion-panel>
      
        <mat-expansion-panel [expanded]="step === 3" (opened)="setStep(3)" hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
                    <p style="font-weight: 500">LEADERSHIP AND COMMUNITY ENGAGEMENT</p>
            </mat-panel-title>
            <mat-panel-description>
              <br>
              <mat-icon>people</mat-icon>
            </mat-panel-description>
          </mat-expansion-panel-header>

          <mat-action-row>
            <button mat-button color="warn" (click)="prevStep()">Previous</button>
            <button mat-button color="primary" (click)="nextStep()">End</button>
          </mat-action-row>
        </mat-expansion-panel>
      
      </mat-accordion>
      