<mat-accordion class="example-headers-align">
        <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <p style="font-weight: 500">EDUCATION</p>
            </mat-panel-title>
            <mat-panel-description>
                <br>
              <mat-icon>school</mat-icon>
            </mat-panel-description>
          </mat-expansion-panel-header>
      
          <div class="educationcontent">
              <p class="title">Purdue University, May 2021</p>
              <div class="progress">
                  Bachelor of Science in Computer Science with concentration in Machine Learning<br>
                  Minor in Statistics, Entrepreneurship Certificate<br>
                  Dean's List: Fall 2017, Spring 2018, Fall 2018<br>
                  Cummulative GPA: 3.46/4.00<br>
              </div>
          </div>
          <mat-action-row>
            <button mat-button color="primary" (click)="nextStep()">Next</button>
          </mat-action-row>
        </mat-expansion-panel>
      
        <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
                <p style="font-weight: 500">SKILLS</p>
            </mat-panel-title>
            <mat-panel-description>
              <br>
              <mat-icon>code</mat-icon>
            </mat-panel-description>
          </mat-expansion-panel-header>
    
          <div class="skillscontent">
              <p class="title">Programming</p>
                <div class="progress">
                    Python 
                    <div class="python">
                      <div style="width: 20%">
                        <mat-progress-bar class="python-progress" mode="determinate" value="100"></mat-progress-bar><br>
                        <p style="margin-left: 10px; margin-top: -18px; font-weight: 200; font-style: italic; color: rgb(198,198,198)">Beginner</p>
                      </div>
                      <div style="width: 20%; margin-left: 5px;">
                        <mat-progress-bar class="python-progress" mode="determinate" value="100"></mat-progress-bar><br>
                        <p style="margin-left: 10px; margin-top: -18px; font-weight: 200; font-style: italic; color: rgb(198,198,198)">Competent</p>
                      </div>
                      <div style="width: 20%; margin-left: 5px;">
                        <mat-progress-bar class="python-progress" mode="determinate" value="100"></mat-progress-bar><br>
                        <p style="margin-left: 10px; margin-top: -18px; font-weight: 200; font-style: italic; color: rgb(198,198,198)">Experienced</p>
                      </div>
                      <div style="width: 20%; margin-left: 5px;">
                        <mat-progress-bar class="python-progress" mode="determinate" value="100"></mat-progress-bar><br>
                        <p style="margin-left: 10px; margin-top: -18px; font-weight: 200; font-style: italic; color: rgb(198,198,198)">Proficient</p>
                      </div>
                      <div style="width: 20%; margin-left: 5px;">
                        <mat-progress-bar class="python-progress" mode="determinate" value="0"></mat-progress-bar><br>
                        <p style="margin-left: 10px; margin-top: -18px; font-weight: 200; font-style: italic; color: rgb(198,198,198)">Expert</p>
                      </div>

                    </div>
                    Java 
                    <div class="java">
                        <div style="width: 20%">
                          <mat-progress-bar class="java-progress" mode="determinate" value="100"></mat-progress-bar><br>
                          <p style="margin-left: 10px; margin-top: -18px; font-weight: 200; font-style: italic; color: rgb(198,198,198)">Beginner</p>
                        </div>
                        <div style="width: 20%; margin-left: 5px;">
                          <mat-progress-bar class="java-progress" mode="determinate" value="100"></mat-progress-bar><br>
                          <p style="margin-left: 10px; margin-top: -18px; font-weight: 200; font-style: italic; color: rgb(198,198,198)">Competent</p>
                        </div>
                        <div style="width: 20%; margin-left: 5px;">
                          <mat-progress-bar class="java-progress" mode="determinate" value="100"></mat-progress-bar><br>
                          <p style="margin-left: 10px; margin-top: -18px; font-weight: 200; font-style: italic; color: rgb(198,198,198)">Experienced</p>
                        </div>
                        <div style="width: 20%; margin-left: 5px;">
                          <mat-progress-bar class="java-progress" mode="determinate" value="100"></mat-progress-bar><br>
                          <p style="margin-left: 10px; margin-top: -18px; font-weight: 200; font-style: italic; color: rgb(198,198,198)">Proficient</p>
                        </div>
                        <div style="width: 20%; margin-left: 5px;">
                          <mat-progress-bar class="java-progress" mode="determinate" value="0"></mat-progress-bar><br>
                          <p style="margin-left: 10px; margin-top: -18px; font-weight: 200; font-style: italic; color: rgb(198,198,198)">Expert</p>
                        </div>
                    </div>
                    C 
                    <div class="c">
                        <div style="width: 20%">
                          <mat-progress-bar class="c-progress" mode="determinate" value="100"></mat-progress-bar><br>
                          <p style="margin-left: 10px; margin-top: -18px; font-weight: 200; font-style: italic; color: rgb(198,198,198)">Beginner</p>
                        </div>                        
                        <div style="width: 20%; margin-left: 5px;">
                          <mat-progress-bar class="c-progress" mode="determinate" value="100"></mat-progress-bar><br>
                          <p style="margin-left: 10px; margin-top: -18px; font-weight: 200; font-style: italic; color: rgb(198,198,198)">Competent</p>
                        </div>
                        <div style="width: 20%; margin-left: 5px;">
                          <mat-progress-bar class="c-progress" mode="determinate" value="100"></mat-progress-bar><br>
                          <p style="margin-left: 10px; margin-top: -18px; font-weight: 200; font-style: italic; color: rgb(198,198,198)">Experienced</p>
                        </div>
                        <div style="width: 20%; margin-left: 5px;">
                          <mat-progress-bar class="c-progress" mode="determinate" value="0"></mat-progress-bar><br>
                          <p style="margin-left: 10px; margin-top: -18px; font-weight: 200; font-style: italic; color: rgb(198,198,198)">Proficient</p>
                        </div>
                        <div style="width: 20%; margin-left: 5px;">
                          <mat-progress-bar class="c-progress" mode="determinate" value="0"></mat-progress-bar><br>
                          <p style="margin-left: 10px; margin-top: -18px; font-weight: 200; font-style: italic; color: rgb(198,198,198)">Expert</p>
                        </div>
                    </div>
                    R
                    <div class="r">
                      <div style="width: 20%">
                          <mat-progress-bar class="r-progress" mode="determinate" value="100"></mat-progress-bar><br>
                          <p style="margin-left: 10px; margin-top: -18px; font-weight: 200; font-style: italic; color: rgb(198,198,198)">Beginner</p>
                        </div>                        
                        <div style="width: 20%; margin-left: 5px;">
                          <mat-progress-bar class="r-progress" mode="determinate" value="100"></mat-progress-bar><br>
                          <p style="margin-left: 10px; margin-top: -18px; font-weight: 200; font-style: italic; color: rgb(198,198,198)">Competent</p>
                        </div>
                        <div style="width: 20%; margin-left: 5px;">
                          <mat-progress-bar class="r-progress" mode="determinate" value="100"></mat-progress-bar><br>
                          <p style="margin-left: 10px; margin-top: -18px; font-weight: 200; font-style: italic; color: rgb(198,198,198)">Experienced</p>
                        </div>
                        <div style="width: 20%; margin-left: 5px;">
                          <mat-progress-bar class="r-progress" mode="determinate" value="0"></mat-progress-bar><br>
                          <p style="margin-left: 10px; margin-top: -18px; font-weight: 200; font-style: italic; color: rgb(198,198,198)">Proficient</p>
                        </div>
                        <div style="width: 20%; margin-left: 5px;">
                          <mat-progress-bar class="r-progress" mode="determinate" value="0"></mat-progress-bar><br>
                          <p style="margin-left: 10px; margin-top: -18px; font-weight: 200; font-style: italic; color: rgb(198,198,198)">Expert</p>
                        </div>
                    </div>
                    JavaScript
                    <div class="js">
                        <div style="width: 20%">
                          <mat-progress-bar class="js-progress" mode="determinate" value="100"></mat-progress-bar><br>
                          <p style="margin-left: 10px; margin-top: -18px; font-weight: 200; font-style: italic; color: rgb(198,198,198)">Beginner</p>
                        </div>                        
                        <div style="width: 20%; margin-left: 5px;">
                          <mat-progress-bar class="js-progress" mode="determinate" value="100"></mat-progress-bar><br>
                          <p style="margin-left: 10px; margin-top: -18px; font-weight: 200; font-style: italic; color: rgb(198,198,198)">Competent</p>
                        </div>
                        <div style="width: 20%; margin-left: 5px;">
                          <mat-progress-bar class="js-progress" mode="determinate" value="100"></mat-progress-bar><br>
                          <p style="margin-left: 10px; margin-top: -18px; font-weight: 200; font-style: italic; color: rgb(198,198,198)">Experienced</p>
                        </div>
                        <div style="width: 20%; margin-left: 5px;">
                          <mat-progress-bar class="js-progress" mode="determinate" value="100"></mat-progress-bar><br>
                          <p style="margin-left: 10px; margin-top: -18px; font-weight: 200; font-style: italic; color: rgb(198,198,198)">Proficient</p>
                        </div>
                        <div style="width: 20%; margin-left: 5px;">
                          <mat-progress-bar class="js-progress" mode="determinate" value="0"></mat-progress-bar><br>
                          <p style="margin-left: 10px; margin-top: -18px; font-weight: 200; font-style: italic; color: rgb(198,198,198)">Expert</p>
                        </div>
                    </div>
                    HTML/CSS
                    <div class="html">
                        <div style="width: 20%">
                          <mat-progress-bar class="html-progress" mode="determinate" value="100"></mat-progress-bar><br>
                          <p style="margin-left: 10px; margin-top: -18px; font-weight: 200; font-style: italic; color: rgb(198,198,198)">Beginner</p>
                        </div>                        
                        <div style="width: 20%; margin-left: 5px;">
                          <mat-progress-bar class="html-progress" mode="determinate" value="100"></mat-progress-bar><br>
                          <p style="margin-left: 10px; margin-top: -18px; font-weight: 200; font-style: italic; color: rgb(198,198,198)">Competent</p>
                        </div>
                        <div style="width: 20%; margin-left: 5px;">
                          <mat-progress-bar class="html-progress" mode="determinate" value="100"></mat-progress-bar><br>
                          <p style="margin-left: 10px; margin-top: -18px; font-weight: 200; font-style: italic; color: rgb(198,198,198)">Experienced</p>
                        </div>
                        <div style="width: 20%; margin-left: 5px;">
                          <mat-progress-bar class="html-progress" mode="determinate" value="100"></mat-progress-bar><br>
                          <p style="margin-left: 10px; margin-top: -18px; font-weight: 200; font-style: italic; color: rgb(198,198,198)">Proficient</p>
                        </div>
                        <div style="width: 20%; margin-left: 5px;">
                          <mat-progress-bar class="html-progress" mode="determinate" value="100"></mat-progress-bar><br>
                          <p style="margin-left: 10px; margin-top: -18px; font-weight: 200; font-style: italic; color: rgb(198,198,198)">Expert</p>
                        </div>
                    </div>
                    Angular
                    <div class="angular">
                        <div style="width: 20%">
                          <mat-progress-bar class="angular-progress" mode="determinate" value="100"></mat-progress-bar><br>
                          <p style="margin-left: 10px; margin-top: -18px; font-weight: 200; font-style: italic; color: rgb(198,198,198)">Beginner</p>
                        </div>                        
                        <div style="width: 20%; margin-left: 5px;">
                          <mat-progress-bar class="angular-progress" mode="determinate" value="100"></mat-progress-bar><br>
                          <p style="margin-left: 10px; margin-top: -18px; font-weight: 200; font-style: italic; color: rgb(198,198,198)">Competent</p>
                        </div>
                        <div style="width: 20%; margin-left: 5px;">
                          <mat-progress-bar class="angular-progress" mode="determinate" value="100"></mat-progress-bar><br>
                          <p style="margin-left: 10px; margin-top: -18px; font-weight: 200; font-style: italic; color: rgb(198,198,198)">Experienced</p>
                        </div>
                        <div style="width: 20%; margin-left: 5px;">
                          <mat-progress-bar class="angular-progress" mode="determinate" value="0"></mat-progress-bar><br>
                          <p style="margin-left: 10px; margin-top: -18px; font-weight: 200; font-style: italic; color: rgb(198,198,198)">Proficient</p>
                        </div>
                        <div style="width: 20%; margin-left: 5px;">
                          <mat-progress-bar class="angular-progress" mode="determinate" value="0"></mat-progress-bar><br>
                          <p style="margin-left: 10px; margin-top: -18px; font-weight: 200; font-style: italic; color: rgb(198,198,198)">Expert</p>
                        </div>
                    </div>
                    React
                    <div class="react">
                        <div style="width: 20%">
                          <mat-progress-bar class="react-progress" mode="determinate" value="100"></mat-progress-bar><br>
                          <p style="margin-left: 10px; margin-top: -18px; font-weight: 200; font-style: italic; color: rgb(198,198,198)">Beginner</p>
                        </div>                        
                        <div style="width: 20%; margin-left: 5px;">
                          <mat-progress-bar class="react-progress" mode="determinate" value="100"></mat-progress-bar><br>
                          <p style="margin-left: 10px; margin-top: -18px; font-weight: 200; font-style: italic; color: rgb(198,198,198)">Competent</p>
                        </div>
                        <div style="width: 20%; margin-left: 5px;">
                          <mat-progress-bar class="react-progress" mode="determinate" value="0"></mat-progress-bar><br>
                          <p style="margin-left: 10px; margin-top: -18px; font-weight: 200; font-style: italic; color: rgb(198,198,198)">Experienced</p>
                        </div>
                        <div style="width: 20%; margin-left: 5px;">
                          <mat-progress-bar class="react-progress" mode="determinate" value="0"></mat-progress-bar><br>
                          <p style="margin-left: 10px; margin-top: -18px; font-weight: 200; font-style: italic; color: rgb(198,198,198)">Proficient</p>
                        </div>
                        <div style="width: 20%; margin-left: 5px;">
                          <mat-progress-bar class="react-progress" mode="determinate" value="0"></mat-progress-bar><br>
                          <p style="margin-left: 10px; margin-top: -18px; font-weight: 200; font-style: italic; color: rgb(198,198,198)">Expert</p>
                        </div>
                    </div>
                </div>
              <p class="title">Spoken Languages</p>
                <div class="progress">
                    Russian
                    <!-- Beginner Learning conversational professional fluent -->
                    <div class="russian">
                        <div style="width: 20%">
                          <mat-progress-bar class="russian-progress" mode="determinate" value="100"></mat-progress-bar><br>
                          <p style="margin-left: 10px; margin-top: -18px; font-weight: 200; font-style: italic; color: rgb(198,198,198)">Beginner</p>
                        </div>                        
                        <div style="width: 20%; margin-left: 5px;">
                          <mat-progress-bar class="russian-progress" mode="determinate" value="100"></mat-progress-bar><br>
                          <p style="margin-left: 10px; margin-top: -18px; font-weight: 200; font-style: italic; color: rgb(198,198,198)">Learning</p>
                        </div>
                        <div style="width: 20%; margin-left: 5px;">
                          <mat-progress-bar class="russian-progress" mode="determinate" value="100"></mat-progress-bar><br>
                          <p style="margin-left: 10px; margin-top: -18px; font-weight: 200; font-style: italic; color: rgb(198,198,198)">Conversational</p>
                        </div>
                        <div style="width: 20%; margin-left: 5px;">
                          <mat-progress-bar class="russian-progress" mode="determinate" value="100"></mat-progress-bar><br>
                          <p style="margin-left: 10px; margin-top: -18px; font-weight: 200; font-style: italic; color: rgb(198,198,198)">Professional</p>
                        </div>
                        <div style="width: 20%; margin-left: 5px;">
                          <mat-progress-bar class="russian-progress" mode="determinate" value="0"></mat-progress-bar><br>
                          <p style="margin-left: 10px; margin-top: -18px; font-weight: 200; font-style: italic; color: rgb(198,198,198)">Fluent</p>
                        </div>
                    </div>
                    Spanish
                    <div class="spanish">
                        <div style="width: 20%">
                          <mat-progress-bar class="spanish-progress" mode="determinate" value="100"></mat-progress-bar><br>
                          <p style="margin-left: 10px; margin-top: -18px; font-weight: 200; font-style: italic; color: rgb(198,198,198)">Beginner</p>
                        </div>                        
                        <div style="width: 20%; margin-left: 5px;">
                          <mat-progress-bar class="spanish-progress" mode="determinate" value="100"></mat-progress-bar><br>
                          <p style="margin-left: 10px; margin-top: -18px; font-weight: 200; font-style: italic; color: rgb(198,198,198)">Learning</p>
                        </div>
                        <div style="width: 20%; margin-left: 5px;">
                          <mat-progress-bar class="spanish-progress" mode="determinate" value="100"></mat-progress-bar><br>
                          <p style="margin-left: 10px; margin-top: -18px; font-weight: 200; font-style: italic; color: rgb(198,198,198)">Conversational</p>
                        </div>
                        <div style="width: 20%; margin-left: 5px;">
                          <mat-progress-bar class="spanish-progress" mode="determinate" value="0"></mat-progress-bar><br>
                          <p style="margin-left: 10px; margin-top: -18px; font-weight: 200; font-style: italic; color: rgb(198,198,198)">Professional</p>
                        </div>
                        <div style="width: 20%; margin-left: 5px;">
                          <mat-progress-bar class="spanish-progress" mode="determinate" value="0"></mat-progress-bar><br>
                          <p style="margin-left: 10px; margin-top: -18px; font-weight: 200; font-style: italic; color: rgb(198,198,198)">Fluent</p>
                        </div>
                    </div>
                </div>
          </div>
      
          <mat-action-row>
            <button mat-button color="warn" (click)="prevStep()">Previous</button>
            <button mat-button color="primary" (click)="nextStep()">Next</button>
          </mat-action-row>
        </mat-expansion-panel>

        <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" hideToggle>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <p style="font-weight: 500">EXPERIENCE</p>
                  </mat-panel-title>
                  <mat-panel-description>
                    <br>
                    <mat-icon>work</mat-icon>
                  </mat-panel-description>
                </mat-expansion-panel-header>
          
                <div class="experiencecontent">
                    <app-experience></app-experience>
                </div>
            
                <mat-action-row>
                  <button mat-button color="warn" (click)="prevStep()">Previous</button>
                  <button mat-button color="primary" (click)="nextStep()">Next</button>
                </mat-action-row>
              </mat-expansion-panel>
      
        <mat-expansion-panel [expanded]="step === 3" (opened)="setStep(3)" hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
                    <p style="font-weight: 500">LEADERSHIP AND COMMUNITY ENGAGEMENT</p>
            </mat-panel-title>
            <mat-panel-description>
              <br>
              <mat-icon>people</mat-icon>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <app-leadership></app-leadership>
          <mat-action-row>
            <button mat-button color="warn" (click)="prevStep()">Previous</button>
            <button mat-button color="primary" (click)="nextStep()">End</button>
          </mat-action-row>
        </mat-expansion-panel>
      
      </mat-accordion>
      